.loginPage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(120, 241, 146);
  background: linear-gradient(
    90deg,
    rgba(120, 241, 146, 1) 19%,
    rgba(102, 179, 247, 1) 54%,
    rgba(243, 0, 255, 1) 100%
  );
}

.login-form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 30px 30px 30px;
  border-radius: 20px;
}

.logo-loginPage {
    width: 200px;
    height: 200px;
    align-self: center;
    justify-self: center;
  }

.loginTag {
  align-self: center;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 600;
}

.usernameTag,
.passwordTag {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.usernameInputSection,
.passwordInputSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 5px;
  border-bottom: 1px solid rgb(169, 169, 169);
}

.usernameIcon,
.passwordIcon {
  font-size: 22px !important;
  margin-right: 8px;
  color: rgb(98, 98, 98);
}

.usernameInput,
.passwordInput {
  width: 230px;
  font-size: 13px !important;
  font-family: inherit;
  color: rgb(98, 98, 98);
  border: none;
  outline: none;
}

.passwordInputSection {
  margin-bottom: 25px;
}

.loginBtn {
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  font-family: inherit;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
  background: rgb(120, 241, 146);
  background: linear-gradient(
    90deg,
    rgba(120, 241, 146, 1) 0%,
    rgba(102, 179, 247, 1) 17%,
    rgba(243, 0, 255, 1) 100%
  );
  cursor: pointer;
}

.closeDialog {
  padding: 2px 15px;
  border: 1.5px solid rgb(57, 115, 209);
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(57, 115, 209);
  background-color: transparent;
  letter-spacing: 0.5px;
  font-family: inherit;
  font-weight: 600;
}

.dialogTitle {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  color: rgb(47, 47, 47);
}

.dialogContentText {
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  color: rgb(98, 98, 98);
}